<h1>Moravská Ostrava, 9. května 1939</h1>
<p>Je opravdu smutné, že jste tam byli ponecháni teprve po takových těžkostech a takové komedii,
  ale přesto jsem se na základě tvého líčení a přiložených obrázků musela od srdce smát.
  Každopádně jsi se velmi snažil a stala se z tebe veličina, Max si myslí, že bys měl
  a conto tohoto do Hollywoodu [!] Ostatně i Frida nám poslala podobný výstřižek z jedněch francouzských novin,
  kde jsi odnášen.</p>
