<p>Text učebnice z roku <b>2004</b>:
<br>…Na jedné straně tu byli umírnění, především pražané, k nimž se hlásila většina měst a husitská šlechta. Ti byli ochotni dohodnout se s církví, neboť si uvědomovali, že boje a neklid v zemi trvají již příliš dlouho. V minulých letech také získali dostatek moci a majetku. Proti nim stáli radikální husité, zejména táboři, rozhodnutí nenechat se přimět k ústupkům. Vojska obou stran se střetla v květnu 1434 v bitvě u Lipan, vesničky nedaleko Kolína v Polabí. Síly umírněných, tzv. panské jednoty, byly asi dvojnásobné. Lstí vylákali tábory z dosahu pevné vozové hradby. Zdálo se totiž, že panská jednota ustupuje. Ta však ústup jen předstírala a v záloze měla početnou jízdu. Hlavní vůdci táborů v čele s Prokopem Holým padli. V bitvě u Lipan skončila sláva husitských vojsk.
</p>