<h1>Předválečný hraniční sloup je opět na českém území</h1>
<p>Unikátní československý hraniční sloup z období první republiky byl v minulých dnech převezen z Rakouska zpět do České republiky. K našim jižním sousedům se dostal po roce 1938, nacházel se zde po dalších téměř osmdesát let. Nyní ho rakouská strana opět vrátila do země jeho původu. Sloup se stává součástí sbírek Vojenského historického ústavu Praha.</p>
<p>Kovových hraničních sloupů jako tento bylo vyrobeno od druhé poloviny 20. let na 250, umístěno jich bylo přes 230.</p>
<p>[...]</p>
<p>Sloupy byly umisťovány na všech hraničních celních přechodech a staly se do značné míry i symbolem své země i tehdejší éry. Sloup má výrazný kosočtvercový tvar, natřen byl do podoby československé státní vlajky červenou, modrou a bílou barvou.</p>
<p>Mnohé sloupy byly po mnichovské dohodě a záboru pohraničí poničeny, zdemolovány, ukradeny a odvezeny. Pro mnohé Němce se staly symbolem republiky, se kterou se nechtěli ztotožnit. I proto se do dnešní doby těchto sloupů z původního počtu zachoval jen nepatrný zlomek.</p>
<p>[...]</p>
<p>Na sloupu bývala také vždy tabulka – státní znak. Ta na získaném sloupu chybí, zbyly po ní jen čtyři menší díry. Uprostřed je však větší otvor, pravděpodobně byl způsoben průstřelem z těžkého kulometu. K průstřelu došlo zřejmě v souvislosti s povalením a odvezením sloupu na konci třicátých let. Sloupy se stávaly v nacionálně vypjaté atmosféře druhé půlky 30. let obětí nejrůznějších útoků.</p>
<p>[...]</p>
<p>Veřejnost bude moci unikátní hraniční sloup ze sbírek VHÚ vidět příští rok, kdy bude představen na výstavě vztahující se k 100. výročí vzniku Československa. Výstava státních symbolů, jejíž součástí sloup bude, se uskuteční na Pražském hradě.</p>
